.stripe{
    background: rgb(24,24,17);
background: -moz-linear-gradient(90deg, rgba(24,24,17,1) 0%, rgba(117,118,131,1) 37%, rgba(120,88,40,1) 95%);
background: -webkit-linear-gradient(90deg, rgba(24,24,17,1) 0%, rgba(117,118,131,1) 37%, rgba(120,88,40,1) 95%);
background: linear-gradient(90deg, rgba(24,24,17,1) 0%, rgba(117,118,131,1) 37%, rgba(120,88,40,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181811",endColorstr="#785828",GradientType=1);

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bot-gradient {
    height:100px;
    background: 
      /* Color                         position     / width height */
      linear-gradient(#25dbf3,#25dbf3) center right / 30%   70px, 
     
      linear-gradient(#1fa2ff,#1fa2ff) bottom left  / 40%   70px,
      
      linear-gradient(#5533ff,#5533ff) top left     / 30%   70px,
      linear-gradient(#4553ff,#4553ff) top left     / 60%   70px,
      linear-gradient(#4f40ff,#4f40ff) top left     / 100%  70px,
      /* main background*/
      linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background-repeat:no-repeat;
    transform:skewY(-10deg) translateY(-20%);
    transform-origin:left ;
  }

:root {
  --dark-color: #635bff;
  --light-color: #EEBE7B;
}
svg {
  cursor: pointer;
  /**filter: drop-shadow(3px 5px 4px rgb(0 0 0 / 0.2));**/
}

#caraGroup {
  fill: var(--dark-color);
}
#bocaGroup {
  fill: var(--light-color);
}

/**
  Animacion de Hover
  */
#caraGroup {
  transition: all 0.4s ease;
}
#ojoIzq {
  transition: all 0.8s ease;
}
#ojoDer {
  transition: all 0.8s ease;
}
#bocaGroupHover {
  transition: all 0.5s ease;
}

svg:hover #bocaGroupHover {
  transform: translateY(-20%);
}
svg:hover #caraGroup {
  transform: translateY(-20%);
}

/**
  Animacion 1
*/
@keyframes abrirIzq {
    100%,
    70%,
    50%,
    30%  {
    transform: rotate(0deg) translateX(15%) translateY(15%);
  }
  20%,
    40%,
    60%,
    80%{
    transform: translateX(35%) translateY(-10%) rotate(30deg);
  }
}

@keyframes abrirIzqOjos {
    100%,
    70%,
    50%,
    30%  {
    transform: rotate(0deg) translateX(-0%) translateY(0%);
  }
  20%,
    40%,
    60%,
    80% {
    transform: translateX(30%) translateY(-30%) rotate(30deg);
  }
}

@keyframes abrirIzqBoca {
    100%,
    70%,
    50%,
    30% {
    transform: rotate(0deg) translateX(-0%) translateY(0%);
  }
  20%,
    40%,
    60%,
    80% {
    transform: translateX(-10%) translateY(30%) rotate(-20deg);
  }
}

/**
  Animacion 2
*/
@keyframes abrirDer {
    100%,
    70%,
    50%,
    30% {
      transform: rotate(0deg) translateX(15%) translateY(15%);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5%) translateY(20%) rotate(-30deg);
    }
  }
  
  @keyframes abrirDerOjos {
    100%,
    70%,
    50%,
    30% {
      transform: rotate(0deg) translateX(-0%) translateY(0%);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(-15%) translateY(10%) rotate(-25deg);
    }
  }
  
  @keyframes abrirDerBoca {
    100%,
    70%,
    50%,
    30% {
      transform: rotate(0deg) translateX(-0%) translateY(0%);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(20%) translateY(-10%) rotate(20deg);
    }
  }

.anim1 {
  animation: abrirIzq 2.5s linear forwards alternate;
}

.anim1ojos {
  animation: abrirIzqOjos 2.5s linear forwards alternate;
  animation-delay: 20ms;
}

.anim1boca {
  animation: abrirIzqBoca 2.5s linear forwards alternate;
  animation-delay: 30ms;
}

.anim2 {
  animation: abrirDer 2s linear forwards alternate;
}

.anim2ojos {
  animation: abrirDerOjos 2s linear forwards alternate;
  animation-delay: 20ms;
}

.anim2boca {
  animation: abrirDerBoca 2s linear forwards alternate;
  animation-delay: 30ms;
}

/**
.path {
  stroke-dasharray: 925;
  stroke-dashoffset: 925;
  animation: stroke 1s linear forwards;
}*/
.path {
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    stroke-dasharray: 925;
    stroke-dashoffset: 925;
    fill: var(--light-color);;
    stroke: var(--light-color);;
    animation-name: drawStroke, fadeStroke, fillIn;
    animation-duration: 4s, 1s, 1s;
    animation-delay: 0s, 3.5s, 3.5s;
  }

@keyframes drawStroke {
    to { stroke-dashOffset: 0; }
}

@keyframes fadeStroke {
    to { stroke-opacity: 0; }
  }
  
  @keyframes fillIn {
    from { fill-opacity: 0; }
    to { fill-opacity: 1; }
  }
